*.iml
*.ipr
*.iws
*.swp
.DS_Store
.checkstyle
.classpath
.ecbuild
.gradle
.idea/
.java-version
.project
.settings
build
baseline-docs/node_modules/
/out/
gradle.properties
gradle-baseline-java/src/main/resources/version.txt
